div{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    background-color: #162c5e;
    display:inline-block;
    margin: 24px;
} 

div:last-of-type, 
div:first-of-type { 
    background-color: #fe0078;
 }